.DS_Store
__pycache__
.vscode
.venv
.ipynb_checkpoints
*.npz
GTSRB/
GTSRB_Final_Training_Images/
machine-learning-in-logistics/MLS/03-Traffic-sign-recognition/submission/
machine-learning-in-logistics/MLS/03-Traffic-sign-recognition/traffic-sign-recognition.zip